files:
    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_workers.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
        #!/usr/bin/env bash
        php /var/app/current/artisan queue:restart
        php /var/app/current/artisan queue:work --queue=default --tries=2 &